build/
dist/
*.egg-info/
**/__pycache__/
*.pth
*.pt
debug/*
**/.ipynb_checkpoints
**/.ipynb_checkpoints/**
**.txt
*.swp
slurm_outputs/
.vscode/
*.out
**/wandb/**
dinobloom/configs/train/custom.yaml
dinobloom/eval/miccai/test_checkpoints.sh
.logs/*
debug*
*.yaml
vits**
vitb**
vitg**
vitl**
__MACOSX/blood_sampels/*
dinobloom/data/blood_sampels/*
dinobloom/data/acevedo samples/*
figures/**
*.jpg
*.jpeg